.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    @media screen and (min-width: 768px)  {
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

nav {
    display: flex;
}

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
}

.logo__blak {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
}

.list {
    list-style: none;

    margin-left: auto;
    padding: 0;
    display: flex;

    @media screen and (max-width: 768px) {
    display: none; }
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.sait-nav__item:not(:first-child) {
    margin-left: 50px;
}

.sait-nav {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    margin-left: 93px;
    display: flex;

    @media screen and (max-width: 768px) {
    display: none; }

    .sait-nav__link {
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        letter-spacing: 0.03em;
        display: inline-block;
        color: var(--title-text-color);

        transition: color 250ms var(--animation-time);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.sait-nav .sait-nav__link.sait-nav__link--current {
    color: var(--accent-color);
    position: relative;
}

.sait-nav__link.sait-nav__link--current::after {
    content: '';
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
}

.contacts {
@media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    @media screen and (min-width:1200px) {
    flex-direction: row;
    }
}

.contacts__item:not(:first-child) {
    @media screen and (min-width:1200px) {
        margin-left: 50px;
    }
        
}
    
.contacts__link {
    color: var(--complementary-text);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;

    
    display: flex;
    
    @media screen and (min-width:1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    }
    transition: color 250ms var(--animation-time);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

@media screen and (max-width:767px) {

.mob {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
}

.menu-open-btn, .menu-close-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
}

// .menu-open-btn {
//     position: absolute;
//     right: 0;
// }
.menu-close-btn {
    margin-bottom: 8px;
}

.open-icon:hover {
    cursor: pointer;
    fill: var(--accent-color);
}

.close-icon:hover {
    cursor: pointer;
    fill: var(--accent-color);
}

    // .mob-menu {
    //     position: fixed;
    //     top: 0;
    //     background-color: var(--complementary-color);
    //     height: 100%;
    //     width: 100%;
    //     z-index: 5;
    //     padding-top: 48px;
    //     padding-bottom: 48px;
    // }
.mob-menu {
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    position: fixed;
    top: 0;
    background-color: var(--complementary-color);
    height: 100%;
    width: 100%;
    z-index: 5;
    padding-top: 48px;
    padding-bottom: 48px;
}

.mob-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contact-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    &:hover {
        color: var(--accent-color);
    }
}

.contacts-list {
    margin-top: 306px;
    margin-bottom: 64px;
}

.mob-tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #757575;
}

.social-networks-list {
    display: flex;
    justify-content: start;
}

.social-network-item {
    &:not(:first-child) {
    margin-left: 10px;
    }
    &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    }
}

.social-network-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color); 
}

.no-scroll {
    overflow: hidden;
}
}

.mob-menu, .menu-open-btn {
@media screen and (min-width:768px) {
        display: none; 
    }
}