.hero {
    background-color: var(--primary-text-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__title {
    letter-spacing: 0.06em;
    color: var(--complementary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.hero__button {
    letter-spacing: 0.06em;
    color: var(--complementary-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
}