@media screen and (max-width:767px) {

    .mob {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        overflow: auto;
    }
    
    .menu-open-btn, .menu-close-btn {
        background-color: transparent;
        border: none;
        display: block;
        margin-left: auto;
    }

    .menu-close-btn {
        margin-top: 8px;
    }
    
    .open-icon:hover {
        cursor: pointer;
        fill: var(--accent-color);
    }
    
    .close-icon:hover {
        cursor: pointer;
        fill: var(--accent-color);
    }
    
    .mob-menu {
        &.is-open {
            opacity: 1;
            transform: translateX(0);
        }
        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
        opacity: 0;
        transform-origin: right;
        transform: translateX(100%);
        transition: transform 500ms var(--animation-time), opacity 500ms var(--animation-time);
        
        position: fixed;
        top: 0;
        background-color: var(--complementary-color);
        height: 100%;
        width: 100%;
        z-index: 5;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .mob-item:not(:last-child) {
        margin-bottom: 32px;
    }
    
    .mob-contact-item:not(:last-child) {
        margin-bottom: 32px;
    }
    
    .mob-link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;
        &:hover {
            color: var(--accent-color);
        }
    }
    
    .current {
        color: var(--accent-color);
    }
    .contacts-list {
        margin-top: 306px;
        margin-bottom: 64px;
    }
    
    .mob-tel-link {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    
    .mob-mail-link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.166;
        letter-spacing: 0.02em;
        color: #757575;
    }
    
    .social-networks-list {
        display: flex;
        justify-content: start;
    }
    
    .social-network-item {
        &:not(:first-child) {
        margin-left: 10px;
        }
        &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        }
    }
    
    .social-network-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--accent-color); 
    }
    
    .no-scroll {
        overflow: hidden;
    }
    }
    
    .mob-menu, .menu-open-btn {
    @media screen and (min-width:768px) {
            display: none; 
        }
    }