.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.team {
    background-color: #f5f4fa;
}

.text {
    letter-spacing: 0.03em;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    
    margin-top: 30px;
    @media screen and (min-width:768px) {
        text-align: start;
    }
}

.title {
    letter-spacing: 0.03em;
    color: var(--complementary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    @media screen and (min-width: 768px) {
        max-width: 270px;
    }
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
.description:not(:first-child) {
    margin-left: 30px;
}}

.description-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.icon-description {
    width: 70px;
    height: 70px;
}